<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067590474408-a51sqkagrvq2a5ehf2ec79n7qboq3fel.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067590474408-a51sqkagrvq2a5ehf2ec79n7qboq3fel</string>
	<key>API_KEY</key>
	<string>AIzaSyCbobIdunbkycX4bofWcAZ8zkzmkPJE-Hs</string>
	<key>GCM_SENDER_ID</key>
	<string>1067590474408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malith.NIBMConnect</string>
	<key>PROJECT_ID</key>
	<string>nibmconnect-9d88a</string>
	<key>STORAGE_BUCKET</key>
	<string>nibmconnect-9d88a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067590474408:ios:5924db9fd15e477f</string>
	<key>DATABASE_URL</key>
	<string>https://nibmconnect-9d88a.firebaseio.com</string>
</dict>
</plist>