<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>39093620497-530vtc5m0ff4dk37jlnvbp3g9emhjnpa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.39093620497-530vtc5m0ff4dk37jlnvbp3g9emhjnpa</string>
	<key>API_KEY</key>
	<string>AIzaSyBjXoldDEdjtlvE9XinSvjeyEsYOOykFVI</string>
	<key>GCM_SENDER_ID</key>
	<string>39093620497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.malith.NIBMConnect</string>
	<key>PROJECT_ID</key>
	<string>movieslk-bd962</string>
	<key>STORAGE_BUCKET</key>
	<string>movieslk-bd962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:39093620497:ios:5924db9fd15e477f</string>
	<key>DATABASE_URL</key>
	<string>https://movieslk-bd962.firebaseio.com</string>
</dict>
</plist>